<!DOCTYPE html>
<html lang="en">
  <title>Data Collector App</title>
  <head>
    <link rel="stylesheet" href="../static/main.css">
  </head>

  <body>
    <div class="container">
      <h1>Data Collection App</h1>
      <h3>Please fill the entries to get statistics on height</h3>

      <form action="success.html" method="POST">
        <input title="Your email will never be shared" placeholder="Your Email" type="email" name="email" required>
        <input title="Your data will never be shared" placeholder="Your Height (cm)" type="number" min="1" name="data" required>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
